<!doctype html>
<title>AI Bartender</title>

<head>
    <meta charset="utf-8">
    <title>AI Bartender</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>



<div class=page>
  <div class="topnav">
    <a  href="/">Home</a>
    <a href="/about">About</a>
    <a class="active" href="/contact">Contact</a>
  </div>
  <p>
<img src="{{url_for('static', filename='me.jpg')}}" width="266" height="400" align='left' style="margin-right:50px">
  My name is Chris Donahue and I'm a data scientist located in San Francisco, CA. I recieved a B.S. in Cognitive Science at UC San Diego, a M.S. in Applied Mathematics at the University of New Mexico, and a Ph.D at Yale University in Neurobiology. I am a graduate of The Data Incubator Fellowship (March 2021). A list of publications can be found <a href="https://scholar.google.com/citations?hl=en&user=jxu00xAAAAAJ&view_op=list_works&sortby=pubdate/"> here</a>. You can reach me on <a href="https://www.linkedin.com/in/christopher-donahue-11839820/"> LinkedIn</a>. 


</div>