<!doctype html>
<head>
	<meta charset="utf-8">
    <title>AI Bartender</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1 style="color:#990000;"> Gilda Cocktail </h1>
<p>
	2 ounces Siembra Azul Blanco Tequila<br/>
	.5 ounce Pineapple Juice<br/>
	.5 ounce Lime Juice<br/>
	.5 ounce Cinnamon Bark Syrup<br/>
	Wheel of Lime (Garnish)<br/>
</p>
<p>
	Shake all the ingredients with ice, then strain into a coupe. Garnish with the lime wheel.
</p>

<p>
	BRIAN MILLER, 2009 The combination of pineapple, lime, and cinnamon in this cocktail became a popular trio of flavors at D&C, spawning other drinks like the Tom Bomb and Blown Rose.—BM
</p>