<!doctype html>
<head>
	<meta charset="utf-8">
    <title>AI Bartender</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1 style="color:#990000;"> Stolen Huffy </h1>
<p>
	1.5 ounces Red Thai Chile-Infused Rittenhouse Rye Whiskey<br/>
	1 teaspoon Del Maguey Chichicapa Mezcal<br/>
	.75 ounce House Sweet Vermouth<br/>
	.5 ounce Pierre Ferrand Dry Curaçao<br/>
	1 teaspoon Rich Cane Sugar Syrup<br/>
	1 dash Angostura Bitters<br/>
</p>
<p>
	Stir all the ingredients over ice, then strain into a Nick & Nora glass. No garnish.
</p>

<p>
	JILLIAN VOSE, 2013 About a quarter of our guests ask us to make them something spicy. Our first reaction is always to reach for a bottle of jalapeño-infused tequila, but I wanted to try something else to expand our spicy offerings. As it turns out, red Thai chiles work quite nicely with a boldly flavored rye.—JV
</p>