<!doctype html>
<title>AI Bartender</title>

<head>
    <meta charset="utf-8">
    <title>AI Bartender</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/refactor_style.css"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">



<div class=page>

  <h4>
    <form method='post'>
      <p>
        WHAT FLAVORS DO YOU ENJOY IN YOUR COCKTAIL? <br />
        <input type='text' name='query' id='query'/> <br />
      </p>
      <p>
        <input type='submit' value='Submit' />
      </p>
    </form>
  </h4>

<p>Query: {{query}}</p>
