<!doctype html>
<title>AI Bartender</title>

<head>
    <meta charset="utf-8">
    <title>AI Bartender</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.0.2"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>


<div class=page>

  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>


  <p style="font-size:20px; font-weight:500;margin-bottom: 60px;"> Welcome to the AI craft cocktail bartender. I wanted to recreate the experience of going to a bar where a good bartender can recommend a cocktail based on loose descriptions. For example <b> "I like smoky daiquiris"</b> might lead a bartender to recommend a mezcal-based daiquiri. Give it a try!</p> 


  <h4>
    <form method='post'>
      <p style="margin-bottom: 10px;">
        WHAT FLAVORS DO YOU ENJOY IN YOUR COCKTAIL? <br />
        <div style="margin-bottom: 40px;" class="button-align">
            <input type='text' name='query' id='query' autocomplete="off"/> <br />
            <input type='submit' id='submit' value='Submit'/>
        </div>
      </p>
    </form>
  </h4>

{% if query %}
  <p style="margin-bottom: 5px;"> <strong>Query: {{query}} </strong></p> 
{% endif %}



<div id="altair-timeseries"></div>
</div>
<!-- Placeholder for the tooltip -->
<div id="vis-tooltip" class="vg-tooltip"></div>
</div>
<!-- Render Charts -->
<script type="text/javascript">
function parse(url, div) {
var opt = { mode: "vega-lite",
    renderer: "svg",
    actions: { export: true, source: false, editor: false }
    };
vegaEmbed("#" + div, url, opt, function (error, result) {
   vegaTooltip.vegaLite(result.view, url);
   });
  }
//Parse your Json variable here
parse({{ chart_json | safe }}, "altair-timeseries")
</script>


{% for cocktail in cocktails %}
  <h2 style="color:#990000;"> <a href="{{ url_for('get_recipe',variable=cocktail) }}">{{ cocktail }} </a> </h2>

{% endfor %}
