<!doctype html>
<title>AI Bartender</title>

<head>
    <meta charset="utf-8">
    <title>AI Bartender</title>
    <link rel="stylesheet" type="text/css" href="static/refactor_style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.0.2"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>


<div class=page>

  <h4>
    <form method='post'>
      <p>
        WHAT FLAVORS DO YOU ENJOY IN YOUR COCKTAIL? <br />
        <input type='text' name='query' id='query'/> <br />
      </p>
      <p>
        <input type='submit' value='Submit' />
      </p>
    </form>
  </h4>

<p>Query: {{query}}</p>

<div id="altair-timeseries"></div>
</div>
<!-- Placeholder for the tooltip -->
<div id="vis-tooltip" class="vg-tooltip"></div>
</div>
<!-- Render Charts -->
<script type="text/javascript">
function parse(url, div) {
var opt = { mode: "vega-lite",
    renderer: "svg",
    actions: { export: true, source: false, editor: false }
    };
vegaEmbed("#" + div, url, opt, function (error, result) {
   vegaTooltip.vegaLite(result.view, url);
   });
  }
//Parse your Json variable here
parse({{ chart_json | safe }}, "altair-timeseries")
// parse({{ spirit | safe }}, "altair-timeseries")
</script>


<p>{{spirit}}</p>