<!doctype html>
<head>
	<meta charset="utf-8">
    <title>AI Bartender</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1 style="color:#990000;"> Jovencourt Daiquiri </h1>
<p>
	2 ounces Barbancourt White Rum<br/>
	.25 ounce Del Maguey Vida Mezcal<br/>
	.75 ounce Lime Juice<br/>
	.75 ounce Simple Syrup<br/>
</p>
<p>
	Shake all the ingredients with ice, then strain into a coupe. No garnish.
</p>

<p>
	PHIL WARD, 2007 This cocktail was my first epiphany about using mezcal in a mixed drink. Doing so is common now, but nobody was mixing with it back then.—PW
</p>